{% extends 'clean_base.html' %}
{% load static %}
{% block body %}
<img src="http://tachyons.io/img/cat-720.jpg" alt="" uk-cover style="position: fixed">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-width-1-1@m uk-align-center uk-margin-top uk-margin-bottom" id="reg_card">
            <div class="uk-card-header">
                <div uk-grid>
                    <div class="uk-width-auto">
                        <a href="{% url 'home' %}"><img width="135" height="45" src="{% static 'img/d_logo3.png'%}"></a>
                    </div>
                    <div class="uk-card-badge uk-label">Обновление пароля</div>
                </div>
            </div>
            <div class="uk-card-body">
                <form id="reg_form" method="post" class="ui form">
                    {% csrf_token %}
                    {% for hidden in user_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for visible in password_form.visible_fields %}
                    <div class="field">
                        <label>{{ visible.label }}</label>
                        <input type="password" name="{{ visible.name }}" placeholder="{{ visible.label }}">
                    </div>
                    {% endfor %}

                    <button class="ui green button fluid">Обновить настройки</button>
                </form>

                <div class="uk-margin">
                    <div class="uk-inline uk-align-left login_link">
                        <a href="#">Нужна помощь?</a>
                    </div>

                    <div class="uk-inline uk-align-right login_link">
                        <a href="">Вернуться к обычным настройкам</a>
                    </div>
                </div>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a href="{% url 'home' %}" class="uk-button uk-button-text">Вернуться на сайт</a>
            </div>
        </div>
    </div>

    <script>$('.ui.dropdown').dropdown();</script>
    <script>
        var l = new Date();
        var r = new Date();
        l.setDate(l.getDate()-5844);  //16 лет
        r.setDate(r.getDate()-36525); //100 лет
        $('#id_{{ profile_form.birth_date.name }}').datepicker({
            minDate: r,
            maxDate: l,
        })
    </script>
{% endblock %}