{% extends 'base_sign.html' %}

{% block badge %}Пользовательское соглашение{% endblock %}

{% block card_body %}
<div class="uk-card-body">
                <div class="uk-margin">
                    <h3 class="uk-text-center">Cоглашение об использовании</h3>
                    <h4>1. Термины и определения</h4>
                    <div class="uk-margin-left">
                        <p>1.1. Для целей настоящего Соглашения нижеуказанные термины имеют следующие значения:</p>
                        <p>Администрация – лица, уполномоченные Правообладателем на осуществление администрирования, управления, обеспечения технической поддержки Платформы и иных действий, связанных с её использованием;</p>
                        <p>Контент – специально подобранные и расположенные определенным образом материалы (текстовые сообщения, элементы дизайна, графические изображения, фотографии, аудио- и/или видео-произведения и т.д.), которые отображаются и могут быть использованы с помощью Системы на Сайте или программного обеспечения Мобильных приложений;</p>

                        <p>Личный кабинет – графический интерфейс Пользователя на Сайте/в Мобильном приложении, обеспечивающий доступ, в том числе, к содержанию и стоимости оформляемых услуг в соответствии с функционалом того или иного Сервиса;</p>

                        <p>Мобильное приложение– специально разработанное для портативных (мобильных) устройств программное обеспечение Datter, устанавливаемое и загружаемое Пользователем на такие устройства с помощью различных программных платформ. Для целей настоящего Соглашения Мобильное приложение включает в себя текущую версию и все последующие;</p>

                        <p>Платформа – означает Сайт и/или Мобильное приложение, принадлежащие и находящиеся под контролем и управлением Правообладателя и/или лиц, входящих с ним в одну группу, в рамках функционирования которых предоставляются Сервисы;</p>

                        <p>Пользователь – пользователь сети Интернет;</p>

                        <p>Правообладатель – <a href="http://igor99.ru/">Дробященко Игорь Денисович</a>, 1999 г. р.</p>

                        <p>Результаты интеллектуальной деятельности- результаты интеллектуальной деятельности в соответствии со ст.1225 Гражданского кодекса Российской Федерации, предусмотренные функциональными возможностями Платформы и Контентом составляющих её объектов;</p>

                        <p>Соглашение - настоящее соглашение об использовании Платформы;</p>

                        <p>Сайт – совокупность Системы, Контента и иной информации, содержащейся в информационной системе «Интернет», доступ к которой обеспечивается, в том числе, по доменному имени <a href="#">www.datter.ru;</a></p>

                        <p>Сервисы – комплекс услуг по оформлению авиа и/или ж/д билетов, бронированию номеров в отелях и иных дополнительных услуг, предоставляемых Пользователю при помощи Платформы;</p>

                        <p>Система – система «Дейтер.ру»;</p>

                        <p>1.2. В Соглашении могут быть использованы термины, не определенные выше. В этом случае толкование такого термина производится в соответствии с действующим законодательством Российской Федерации, а также обычаями делового оборота.</p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>2. Общие положения</h4>
                    <div class="uk-margin-left">
                        <p>2.1. Настоящее Соглашение устанавливает и определяет условия и правила использования Пользователями Платформы.</p>

                        <p>2.2. Устанавливая Мобильное приложение и используя его любым способом, осуществляя доступ к Сайту, используя его и/или совершая любые иные действия на Сайте, Пользователь подтверждает, что он полностью прочитал, понял, согласен и принимает настоящее Соглашение с учетом возможных изменений, обязуется его соблюдать и нести ответственность за его нарушение. В случае несогласия с условиями настоящего Соглашения, Пользователь должен немедленно прекратить использование Платформы.</p>

                        <p>2.3. Правообладатель оставляет за собой право в любой момент вносить изменения в настоящее Соглашение без направления специального уведомления. Новая редакция Соглашения вступает в силу незамедлительно после размещения таковой на соответствующей странице, предусмотренной функционалом Платформы, если прямо не предусмотрено иное. Регулярное ознакомление с действующей редакцией Соглашения является обязанностью Пользователя. В случае несогласия с изменениями, внесенными в настоящее Соглашение, Пользователь обязан прекратить использование Платформы. Пользователям также рекомендуется получить квалифицированную юридическую помощь, прежде чем осуществлять любые действия на основании информации или материалов, размещенных на Платформе.</p>

                        <p>2.4. Помимо настоящего Соглашения права и обязанности Пользователя регламентированы иными документами, регулирующими предоставление отдельных Сервисов и размещенными в соответствующих разделах Платформы, в том числе любыми согласиями, предоставляемыми Пользователем,  а также <a href="#">Политикой обработки персональных данных</a>. В случае противоречия между положениями настоящего Соглашения и такими специальными документами, применению подлежат последние.</p>

                        <p>2.5. Путем сохранения пользовательских настроек, сбора информации о программном и аппаратном обеспечении Пользователя, его поведении при использовании Платформы и отслеживания тенденций в действиях Пользователя, например, при выполнении поиска, использует файлы cookie для улучшения качества работы Платформы и Сервисов, таргетирования рекламы, в статистических и исследовательских целях. Продолжая пользоваться Платформой, Пользователь подтверждает свое согласие на использование файлов cookie. В случае несогласия Пользователя с использованием данного типа файлов, Пользователь должен соответствующим образом установить настройки своего браузера или не использовать Платформу.</p>

                        <p>По вопросам обработки персональных данных обращаться по адресу электронной почты: <a href="#">info@datter.ru.</a></p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>3. Регистрация</h4>
                    <div class="uk-margin-left">
                        <p>3.1. Для оформления заказов Пользователю необходимо пройти процедуру регистрации, в результате чего для Пользователя создается Личный кабинет, предоставляются логин и пароль для входа в него.</p>

                        <p>3.2. Пользователь вправе иметь только один Личный кабинет. В случае нарушения данного правила лишние Личный кабинеты Пользователя могут быть заблокированы.</p>

                        <p>3.3. Для регистрации Пользователь обязуется предоставить достоверную, полную и актуальную информацию о себе, при этом Правообладатель оставляет за собой право отказать в регистрации или прекратить процесс регистрации нового Пользователя по своему усмотрению.</p>

                        <p>3.4. Персональная информация Пользователя хранится и обрабатывается в соответствии с условиями Политики обработки персональных данных.</p>

                        <p>3.5. Пользователь несет полную ответственность за сохранность и конфиденциальность пароля, а также за любые действия, совершенные с использованием своего Личного кабинета. Если не доказано обратное, любое действие, совершенное с использованием логина и пароля такого Пользователя, рассматриваются как совершенное самим Пользователем, что влечёт соответствующие правовые последствия, за исключением случаев, когда Пользователь уведомил о несанкционированном доступе к Сервисам посредством Личного кабинета Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своего пароля.</p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>4. Порядок использования</h4>
                    <div class="uk-margin-left">
                        <p>При использовании Платформы, получении доступа в Личный кабинет и последующем использовании Сервисов</p>

                        <p>4.1 Пользователь обязуется:</p>

                        <p>4.1.1. соблюдать положения действующего законодательства Российской Федерации, настоящего Соглашения и иных специальных документов;</p>

                        <p>4.1.2. предоставлять при регистрации верную, полную и актуальную информацию о себе и о лицах, от имени которых такой Пользователь использует Сервисы, а также документы, подтверждающие достоверность такой информации с целью подтверждения правомочности использования банковской карты и в иных случаях. Пользователь принимает на себя все возможные риски, связанные с его действиями по допущению ошибок, неточностей в предоставлении личных данных;</p>

                        <p>4.1.3. обновлять регистрационные и другие персональные данные в случае изменения таковых;</p>

                        <p>4.1.4. информировать о несанкционированном доступе к Личному кабинету и/или о несанкционированном использовании пароля и логина Пользователя;</p>

                        <p>4.2. Пользователю запрещается:</p>

                        <p>4.2.1. выдавать себя за другое физическое или юридическое лицо, в том числе за их представителя. При этом, возможна регистрация от имени и по поручению другого лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации;</p>

                        <p>4.2.2. любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Пользователя;</p>

                        <p>4.2.3. осуществлять незаконные сбор и обработку персональных данных других лиц;</p>

                        <p>4.2.4.  без предварительного письменного согласия Правообладателя осуществлять воспроизведение, копирование, переработку, распространение, модификацию и иное использование Контента, Системы, Сайта, Мобильных приложений и иных Результатов интеллектуальной деятельности кроме как в рамках функционала, предоставляемого тем или иным Сервисом;</p>

                        <p>4.2.5. пытаться получить несанкционированный доступ к другим компьютерным системам посредством использования Платформы;</p>

                        <p>4.2.6.использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Платформы;</p>

                        <p>4.2.7.публиковать, распространять и предоставлять доступ или иным образом использовать вирусы и вредоносные программы.</p>

                        <p>4.3. Пользователь подтверждает и выражает свое согласие с тем, что Платформа или любые Сервисы, предусмотренные её функционалом, в любой момент могут быть недоступны по техническим причинам. Правообладатель оставляет за собой право проводить необходимые профилактические или иные работы в любое время по своему усмотрению без предварительного уведомления Пользователей.</p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>5. Интеллектуальная собственность</h4>
                    <div class="uk-margin-left">
                        <p>Обладателями прав в отношении Контента, Сайта, Системы, Мобильных приложений и иных Результатов интеллектуальной деятельности являются Правообладатель и/или третьи лица в соответствующих случаях. За исключением случаев, прямо предусмотренных законодательством Российской Федерации, Пользователь вправе использовать Контент для личного некоммерческого использования, при условии сохранения всех знаков охраны авторского права, смежных прав, товарных знаков, других уведомлений об авторстве, сохранения имени (или псевдонима) автора/наименования правообладателя в неизменном виде, сохранении соответствующего объекта в неизменном виде. Использование Контента, Сайта, Системы, Мобильных приложений и иных Результатов интеллектуальной деятельности разрешено Пользователю без специального письменного согласия Правообладателя исключительно в рамках функциональных возможностей, предусмотренных Платформой.</p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>6. Сайты и контент третьих лиц</h4>
                    <div class="uk-margin-left">
                        <p>Платформа может содержать ссылки на сайты и информационные ресурсы третьих лиц в сети Интернет, размещенные исключительно для удобства пользователей. Правообладатель не обязан отслеживать, изучать и проверять сайты третьих лиц на предмет соответствия содержания законодательству Российской Федерации. Правообладатель не заявляет о своем одобрении и не дает никаких оценок сайтов третьих лиц или информации, содержащейся на данных сайтах, а также возможных результатов их использования. Ответственность за использование сайтов третьих лиц целиком ложится на Пользователя. Правообладатель несет ответственность за рекламу, размещенную им на Сайте, в пределах, установленных законодательством Российской Федерации.</p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>7. Гарантии и отвественность</h4>
                    <div class="uk-margin-left">
                        <p>7.1. Пользователь признает и соглашается, что вся информация и материалы, размещенные на Платформе, предоставляются «как есть». Правообладатель не гарантирует, что Платформа или любые услуги, предусмотренные её функционалом, будут соответствовать конкретным целям использования.</p>

                        <p>7.2. Пользователь самостоятельно несет ответственность за свои действия, связанные с использованием Платформы и Сервисов, в том числе, если такие действия приведут к нарушению прав и/или законных интересов третьих лиц,  а также за соблюдение законодательства Российской Федерации при использовании Платформы и Сервисов.</p>

                        <p>7.3. Правообладатель ни при каких условиях не гарантирует Пользователю:</p>

                        <p>7.3.1. отсутствие сбоев и ошибок в загрузках, задержек, неверной и (или) несвоевременной доставки, удаления, утери или не сохранности какой-либо информации, ее качества и достоверности, в том числе информации Пользователя, за исключением сохранности персональных данных Пользователя;</p>

                        <p>7.3.2. что качество какого-либо Сервиса, а также информации, полученной с использованием одного или нескольких Сервисов, соответствуют (будут соответствовать) требованиям и ожиданиям Пользователя;</p>

                        <p>7.3.3. что результаты, которые могут быть получены Пользователем с использованием Сервисов, будут точными и надежными и могут использоваться для каких-либо целей или в каком-либо качестве (в частности, для установления и (или) подтверждения каких-либо фактов).</p>
                    </div>
                    <hr class="uk-margin-medium">

                    <h4>8. Заключительные положения</h4>
                    <div class="uk-margin-left">
                        <p>8.1. Настоящее Соглашение вступает в силу с момента его размещения на соответствующей странице, предусмотренной функционалом Платформы, регулируется и подлежит толкованию в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные в Соглашении, подлежат разрешению в соответствии с законодательством Российской Федерации.</p>

                        <p>8.2. Если по тем или иным причинам одно или несколько положений настоящего Соглашения будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.</p>

                        <p>8.3.  Настоящее Соглашение составлено на русском языке. Редакция на другом языке является дополнительной и размещается посредством Платформы исключительно для удобства Пользователя. В случае возникновения расхождения между редакциями на русском и любом ином языке, редакция на русском языке имеет преимущественную силу.</p>
                    </div>
                    <hr class="uk-margin-medium">
                    <div class="uk-inline uk-align-left login_link">
                        <a href="#">Нужна помощь?</a>
                    </div>

                    <div class="uk-inline uk-align-right login_link">
                        <a href="#">Войти на сайт</a>
                    </div>
                </div>

            </div>
{% endblock %}
