{% extends 'base_blog.html' %}

{% block blog_nav %}
    <ul class="uk-breadcrumb">
        <li><a href="{% url 'home' %}">Datter</a></li>
        <li><a href="{% url 'blog' %}">Блог</a></li>
        <li><a href="{% url 'blog_section' article.section.id %}">{{ article.section }}</a></li>
        <li><span class="uk-disabled" href="#">{{ article.title }}</span></li>
    </ul>
{% endblock %}

{% block blog_width %}uk-width-5-6{% endblock %}

{% block blog_content %}
    <div>
                        <article class="uk-article">
                            <h1 class="uk-article-title">{{ article.title }}</h1>
                            <strong class="uk-article-meta">
                                <a href="#">{{ article.author }}</a> | {{ article.time_publication }}
                            </strong>
                            <hr class="uk-divider-small">
                            <div class="fr-view">
                                {% autoescape off%}
                                    {{ article.content }}
                                {% endautoescape %}
                            </div>
                        </article>

    </div>
{% endblock %}