{% extends 'base_blog.html' %}

{% block blog_name_page %}Статьи по теме "{{ name_section }}"{% endblock %}

{% block blog_nav %}
    <ul class="uk-breadcrumb uk-padding uk-padding-remove-vertical">
        <li><a href="{% url 'home' %}">Datter</a></li>
        <li><a href="{% url 'blog' %}">Блог</a></li>
        <li><a href="{% url 'blog_sections' %}">{{ name_section }}</a></li>
    </ul>
{% endblock %}

{% block blog_content %}
		<div class="uk-child-width-1-2@m uk-padding uk-grid" uk-grid class="uk-flex-center">
            {% for article in all_articles %}
		    <div>
		        <div class="uk-card uk-card-default">
		            <div class="uk-card-media-top">
		                <a href="{% url 'blog_article' article.id %}"><img src="{{ MEDIA_URL }}{{ article.preview_photo }}" alt=""></a>
		            </div>
		            <div class="uk-card-body">
		                <h3 class="uk-card-title"><a href="{% url 'blog_article' article.id %}">{{ article.title }}</a></h3>
		                <p>{{ article.preview_text }}</p>
		            </div>
		        </div>
		    </div>
            {% endfor %}
		</div>
    </div>
{% endblock %}
