{% extends 'base.html' %}

{% block content %}
<div class="uk-container uk-margin-medium">
    <h1 class="uk-title uk-text-center uk-text-primary"><a href="{% url 'blog' %}">Блог сайта</a></h1>
		<div class="uk-child-width-1-2@m uk-padding uk-grid" uk-grid class="uk-flex-center">
            {% for article in all_articles %}
		    <div>
		        <div class="uk-card uk-card-default">
		            <div class="uk-card-media-top">
		                <a href="{% url 'blog_article' article.id %}"><img src="{{ MEDIA_URL }}{{ article.preview_photo }}" alt=""></a>
		            </div>
		            <div class="uk-card-body">
		                <h3 class="uk-card-title"><a href="{% url 'blog_article' article.id %}">{{ article.title }}</a></h3>
		                <p>{{ article.preview_text }}</p>
		            </div>
		        </div>
		    </div>
            {% endfor %}
		</div>
    </div>
{% endblock %}